In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from pandas import Series
import re

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
20,tt1964418,190000000,209035668,Tomorrowland,Britt Robertson|George Clooney|Raffey Cassidy|...,Brad Bird,Imagine a world where nothing is impossible.,"Bound by a shared destiny, a bright, optimisti...",130,Action|Family|Science Fiction|Adventure|Mystery,Walt Disney Pictures|Babieka|A113,5/19/2015,6.2,2015
1088,tt0315327,80000000,484572835,Bruce Almighty,Jim Carrey|Jennifer Aniston|Philip Baker Hall|...,Tom Shadyac,In Bruce we trust,"Bruce Nolan toils as a ""human interest"" televi...",101,Fantasy|Comedy,Universal Pictures|Spyglass Entertainment|Shad...,5/23/2003,6.3,2003
1428,tt0395972,35000000,25224242,North Country,Charlize Theron|Elle Peterson|Thomas Curtis|Fr...,Niki Caro,All She Wanted Was To Make A Living. Instead S...,A fictionalized account of the first major suc...,126,Drama,Warner Bros.|Participant Media|Nick Wechsler P...,2/12/2005,6.8,2005
1347,tt0357277,43000000,56681566,Elektra,Jennifer Garner|Goran Visnjic|Will Yun Lee|Car...,Rob Bowman,Looks can kill,Elektra the warrior survives a near-death expe...,97,Action,Twentieth Century Fox Film Corporation|Regency...,1/13/2005,5.0,2005
1041,tt1142977,39000000,81491068,Frankenweenie,Charlie Tahan|Winona Ryder|Catherine O'Hara|Ma...,Tim Burton,The electrifying dog is back from beyond the g...,Young Victor conducts a science experiment to ...,87,Animation|Comedy|Family,Walt Disney Pictures|Tim Burton Animation Comp...,10/4/2012,6.5,2012

In [3]:
# data.describe()

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget']

s = data.release_date.apply(lambda x:x.split("/")[0])
s.name = 'month'
data = data.join(s)

def expand_filed(df, source_field, new_field):
	s = df[source_field].str.split('|').apply(Series, 1).stack()
	s.index = s.index.droplevel(-1)
	s.name = new_field
	return df.join(s)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [6]:
df = data.sort_values(by='budget', ascending=False)
row = df.iloc[0]
print(row.original_title, row.imdb_id)

Pirates of the Caribbean: On Stranger Tides tt1298650

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [9]:
df = data.sort_values(by='runtime', ascending=False)
row = df.iloc[0]
print(row.original_title, f'({row.imdb_id})')

Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# +

In [11]:
df = data.sort_values(by='runtime')
row = df.iloc[0]
print(row.original_title, f'({row.imdb_id})')

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '110'
# +

In [13]:
print( round(data['runtime'].mean()) )

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107'
# +

In [15]:
print( round(data['runtime'].median()) )

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar (tt0499549)'
# +

In [17]:
df = data.sort_values(by='profit', ascending=False)
row = df.iloc[0]
print(row.original_title, f'({row.imdb_id})')

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# +

In [19]:
df = data.sort_values(by='profit')
row = df.iloc[0]
print(row.original_title, f'({row.imdb_id})')

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478'
# +

In [21]:
df = data.loc[data['revenue'] > data['budget']]
print(len(df.imdb_id))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight (tt0468569)'
# +

In [23]:
df = data.query('release_year == 2008').sort_values(by='revenue', ascending=False)
row = df.iloc[0]
print(row.original_title, f'({row.imdb_id})')

The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# +

In [25]:
df = data[(data.release_year>=2012) & (data.release_year<=2014)].sort_values(by='profit')
row = df.iloc[0]
print(row.original_title, f'({row.imdb_id})')

The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Drama'
# +

In [27]:
s = data['genres'].str.split('|').apply(Series, 1).stack()
print( s.value_counts().index[0] )

Drama

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
answers['12'] = 'Drama'
# +

In [29]:
df = expand_filed(data, 'genres', 'genre')
groupped = df[df.profit>0].groupby(['genre'])['profit'].count().sort_values(ascending=False)
print(groupped)

genre
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: profit, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
answers['13'] = 'Peter Jackson'
# +

In [31]:
df = expand_filed(data, 'genres', 'genre')
df = expand_filed(df, 'director', 'director_single')
df.drop_duplicates(subset = ['imdb_id', 'genre', 'director_single'], keep = 'first', inplace = True)
groupped = df.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
print(groupped)

director
Peter Jackson                                17464735681
Christopher Nolan                            16196885522
Andrew Adamson|Kelly Asbury|Conrad Vernon    13797581370
David Yates                                  13401099613
J.J. Abrams                                  12805687973
                                                ...
David MichÃ´d                                    4590846
Paul Schrader                                    4124132
Keanu Reeves                                     4109882
Don McKellar                                     3430018
Susanne Bier                                     2849142
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
answers['14'] = 'Robert Rodriguez'
# +

In [33]:
df = expand_filed(data, 'genres', 'genre')
df = expand_filed(df, 'director', 'director_single')
df.drop_duplicates(subset = ['imdb_id', 'genre', 'director_single'], keep = 'first', inplace = True)
groupped = df[df.genre=='Action'].groupby(['director_single'])['genre'].count().sort_values(ascending=False)
print(groupped)

director_single
Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
John Whitesell        1
Brian A Miller        1
Jon Amiel             1
Jon Avnet             1
Luis Mandoki          1
Name: genre, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
answers['15'] = 'Chris Hemsworth'
# +

In [35]:
df = expand_filed(data, 'cast', 'actor')
groupped = df[df.release_year==2012].groupby(['actor'])['revenue'].sum().sort_values(ascending=False)
print(groupped)

actor
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
                        ...
Michael Nyqvist         3428048
Danny Huston            2106557
Josh Lucas              2106557
Sami Gayle              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
answers['16'] = 'Matt Damon'
# +

In [37]:
mean_budget = data['budget'].mean()
df = expand_filed(data, 'cast', 'actor')
groupped = df[df.budget > mean_budget].groupby(['actor'])['imdb_id'].count().sort_values(ascending=False)
print(groupped)

actor
Matt Damon                 18
Adam Sandler               17
Angelina Jolie             16
Tom Cruise                 15
Eddie Murphy               15
                           ..
Jennifer Hudson             1
Jennifer Jason Leigh        1
Jennifer Saunders           1
Jennifer Tilly              1
Ã“lafur Darri Ã“lafsson     1
Name: imdb_id, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
answers['17'] = 'Action'
# +

In [39]:
df = expand_filed(data, 'genres', 'genre')
df = expand_filed(df, 'cast', 'actor')
df.drop_duplicates(subset = ['imdb_id', 'genre', 'actor'], keep = 'first', inplace = True)
groupped = df[df.actor=='Nicolas Cage'].groupby(['genre'])['imdb_id'].count().sort_values(ascending=False)
print(groupped)

genre
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
Horror              1
Romance             1
War                 1
Name: imdb_id, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# +

In [41]:
df = expand_filed(data, 'production_companies', 'company')
result = df[df.company=='Paramount Pictures'].sort_values(by='profit')
row = result.iloc[0]
print(row.original_title, f'({row.imdb_id})')

K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
answers['19'] = '2015'
# +

In [43]:
groupped = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
print(groupped)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
answers['20'] = '2014'
# +

In [45]:
df = expand_filed(data, 'production_companies', 'company')
groupped = df[df.company.str.match("Warner Bros", na=False)].groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
print(groupped)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
answers['21'] = 'Сентябрь'
# +

In [47]:
groupped = data.groupby(['month'])['imdb_id'].count().sort_values(ascending=False)
print(groupped)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
answers['22'] = '450'
# +

In [49]:
groupped = data.query('month in ["6","7","8"]').groupby(['month'])['imdb_id'].count().sort_values(ascending=False)
print(groupped.sum())

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
answers['23'] = 'Peter Jackson'
# +

In [51]:
df = expand_filed(data, 'director', 'director_single')
groupped = df.query('month in ["12","1","2"]').groupby(['director_single'])['imdb_id'].count().sort_values(ascending=False)
print(groupped)

director_single
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Adam Shankman        4
                    ..
John Luessenhop      1
John Musker          1
John Polson          1
Callan Brunker       1
Xavier Palud         1
Name: imdb_id, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
answers['24'] = 'Four By Two Productions'
# +

In [53]:
df = expand_filed(data, 'production_companies', 'company')
s = df.original_title.apply(lambda x:len(x))
s.name = 'title_length'
df = df.join(s)
groupped = df.groupby(['company'])['title_length'].mean().sort_values(ascending=False)
print(groupped)

company
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Global Entertainment Group     2.0
Ixtlan Productions             2.0
Name: title_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
answers['25'] = 'Midnight Picture Show'
# +

In [55]:
df = expand_filed(data, 'production_companies', 'company')
s = df.overview.apply(lambda x:len( re.split(' +', x) ))
s.name = 'overview_word_count'
df = df.join(s)
groupped = df.groupby(['company'])['overview_word_count'].mean().sort_values(ascending=False)
print(groupped)

company
Midnight Picture Show                             175.0
Room 9 Entertainment                              161.0
98 MPH Productions                                159.0
Heineken Branded Entertainment                    159.0
Brookwell-McNamara Entertainment                  156.0
                                                  ...
Projection Pictures                                13.0
TDJ Enterprises / New Dimensions Entertainment     13.0
Our Stories Films                                  13.0
Motion Picture Corporation of America              11.0
Empire Pictures                                    11.0
Name: overview_word_count, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [57]:
s = data['vote_average'].value_counts(normalize=True).reset_index().sort_values(by='index', ascending=False)
# Смотрим какой рейтинг попадает в процент лучших - это рейтинг выше 7.8
print(s)
ds = data.loc[(data['vote_average'] > 7.8)]
# Выводим список фильмов с нужным рейтингом и смотрим какие в него попадают
print( ds[['vote_average', 'original_title']].sort_values(by='vote_average', ascending=False) )

    index  vote_average
45    8.1      0.000529
39    8.0      0.002118
33    7.9      0.004764
29    7.8      0.007411
30    7.7      0.006882
26    7.6      0.011117
28    7.5      0.008999
24    7.4      0.012176
20    7.3      0.022763
21    7.2      0.021175
17    7.1      0.028587
18    7.0      0.026998
16    6.9      0.028587
15    6.8      0.029645
13    6.7      0.032822
7     6.6      0.046585
0     6.5      0.055585
6     6.4      0.050291
8     6.3      0.044468
4     6.2      0.051350
3     6.1      0.052938
2     6.0      0.052938
1     5.9      0.053467
5     5.8      0.050821
9     5.7      0.044468
11    5.6      0.037057
10    5.5      0.037586
14    5.4      0.030175
12    5.3      0.033351
19    5.2      0.026998
22    5.1      0.020116
23    5.0      0.012705
25    4.9      0.011646
27    4.8      0.009529
32    4.7      0.004764
34    4.6      0.004764
31    4.5      0.005823
35    4.4      0.004235
36    4.3      0.002647
40    4.2      0.002118
46    4.1      0.000529
38    4.0      0.002118
44    3.9      0.001059
37    3.8      0.002118
43    3.5      0.001059
42    3.4      0.001059
41    3.3      0.001059
      vote_average                                 original_title
599            8.1                                The Dark Knight
9              8.0                                     Inside Out
34             8.0                                           Room
118            8.0                                   Interstellar
125            8.0                             The Imitation Game
119            7.9                        Guardians of the Galaxy
128            7.9                                      Gone Girl
138            7.9                       The Grand Budapest Hotel
370            7.9                                      Inception
872            7.9                                    The Pianist
1081           7.9  The Lord of the Rings: The Return of the King
1183           7.9                        The Wolf of Wall Street
1191           7.9                               12 Years a Slave
1800           7.9                                        Memento

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# +

In [59]:
# Добавляем колонку с парами актеров, а затем группируем по их кол-ву
def make_actors_pairs(item):
	pairs = []
	actors = item.split('|');
	for actor1 in actors:
		for actor2 in actors:
			if(actor1 == actor2):
				continue
			pair = [actor1, actor2]
			pair.sort()
			pair_str = ' & '.join(pair)
			if pair_str not in pairs:
				pairs.append(pair_str)
	return pairs

s = data['cast'].apply(make_actors_pairs).apply(Series, 1).stack()
s.index = s.index.droplevel(-1)
s.name = 'actor_pairs'
df = data.join(s)
groupped = df.groupby(['actor_pairs'])['imdb_id'].count().sort_values(ascending=False)
print(groupped)

actor_pairs
Daniel Radcliffe & Rupert Grint        8
Daniel Radcliffe & Emma Watson         8
Emma Watson & Rupert Grint             8
Ben Stiller & Owen Wilson              6
Helena Bonham Carter & Johnny Depp     6
                                      ..
Christopher Walken & Radha Mitchell    1
Christopher Walken & Robin Williams    1
Christopher Walken & Rosario Dawson    1
Christopher Walken & Sam Rockwell      1
Zachary Quinto & Zoe Saldana           1
Name: imdb_id, Length: 17942, dtype: int64

ВАРИАНТ 2

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [61]:
# и убедиться что ни чего не пропустил)
len(answers)

27